
<div class="row">
        <div class="col-6">
            <h1>Artist by ascending</h1>
            <vc:get-artist-asc></vc:get-artist-asc>
        </div>

        <div class="col-6">
            <h1>Artist by decending</h1>
            <vc:get-artist-desc></vc:get-artist-desc>
        </div>


</div>


